
.container {
    max-width: 365px;
    margin: auto;
    padding: 20px 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 8px;
    text-align: center;
}

button[type="submit"] {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: red;
    margin-top: 15px;
}

.main {
    padding-top: 80px;
}

label {
    display: block; /* Display labels as block elements to make them appear above the input fields */
    margin-top: 10px; /* Add some top margin for spacing */
    font-weight: bold; /* Optionally, make labels bold for emphasis */
}

button[type="submit"]:hover {
    background-color: darkred; /* Change the background color on hover */
}